<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Iara Games</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Seu Perfil</h2>
        <div class="card bg-dark text-white mt-4">
            <div class="card-body">
                <h5 class="card-title">Nome: <span id="username"></span></h5>
                <p class="card-text">Email: <span id="email"></span></p>
                <p class="card-text">Membro desde: <span id="memberSince">Janeiro 2024</span></p>
                <div class="text-center mt-4">
                    <a href="./login.html" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/profile.js"></script>
</body>
</html>
